{% extends "frontend/base/navigation.html" %}
{% load staticfiles %}
{% load guardian_tags %}
{% load crispy_forms_tags %}

{% block body_content %}

    <ol class="breadcrumb-arrows">
        <li><a href="{% url 'frontend:dashboard' %}">Home</a></li>
        <li><a href="{% url 'supply_logistics:supply_logistics' %}">Supply Logistics</a></li>
        <li><a href="{% url 'supply_logistics:merch-inventory-home' %}">Merchandise Inventory System</a></li>
        <li><a href="#">Add An Item to Inventory</a></li>
    </ol>

    <div class="container center-container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h3>Add an Item to Inventory</h3>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel panel-heading">
                Add Item Form
            </div>
            <div class="panel panel-body">
                <p>
                    This form allows you to create a new item in the inventory system. For Example, when new THON Logo
                    merchandise comes in, each item would need to be added here first.
                </p>
            </div>
            <div class="panel panel-body"
                {% crispy form %}
            </div>
        </div>
    </div>

{% endblock %}