{% extends "frontend/base/navigation.html" %}
{% load staticfiles %}
{% load guardian_tags %}
{% load crispy_forms_tags %}

{% block body_content %}

    <ol class="breadcrumb-arrows">
        <li><a href="{% url 'frontend:dashboard' %}">Home</a></li>
        <li><a href="{% url 'supply_logistics:supply_logistics' %}">Supply Logistics</a></li>
        <li><a href="{% url 'supply_logistics:merch-inventory-home' %}">Merchandise Inventory System</a></li>
        <li><a href="{% url 'supply_logistics:merch-inventory-item-detail' pk=object.id %}">Item Detail</a></li>
        <li><a href="#">Iventory Item Detail</a></li>
    </ol>


    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header">
                    <h3>Event Request Detail</h3>
                </div>
            </div>
        </div>

        <div class="panel panel-primary">
            <div class="panel panel-heading">
                <h5>Inventory Item Detail Page</h5>
            </div>


            <div class="panel panel-body">
                <div class="row">
                    <div class="col-sm-6 vertical-center">
                        <h4>{{ object.name }}</h4>
                    </div>
                    <div class="col-sm-3 vertical-center">
                        <a href={% url 'supply_logistics:merch-inventory-update' pk=object.id %} class="btn btn-primary
                           btn-lg">
                        <span class="glyphicon glyphicon-pencil"></span>Update Item</a>
                    </div>
                    div class="col-sm-3 vertical-center">
                    <a href={% url 'supply_logistics:merch-inventory-remove' pk=object.id %} class="btn btn-warning
                       btn-lg">
                    <span class="glyphicon glyphicon-pencil"></span>Remove Item</a>
                </div>
            </div>
            <hr>
            <!--TODO: Item Name, Item ID (Barcode), item description, Item quantity location 1 - 5, total on hand, price (later)-->
{#            <div class="row">#}
{#                <div class="col-sm-3">#}
{#                    <h5>Event Information</h5>#}
{#                </div>#}
{#                <div class="col-sm-9">#}
{#                    <p><strong>Request Submitted: </strong> {{ object.timestamp }}<br>#}
{#                        <strong>Event Type: </strong>{{ object.event_type }}<br>#}
{#                        <strong>Start Time: </strong> {{ object.start|date:"l,  F,  o, f A" }}<br>#}
{#                        <strong>End Time: </strong> {{ object.end|date:"l,  F,  o, f A" }}<br>#}
{#                        <strong>Location Name: </strong> {{ object.event_location }}<br>#}
{#                    <p><strong>Event Details: </strong> {{ object.details }}</p>#}
{#                </div>#}
{#            </div>#}
{#            <hr>#}
{#            <div class="row">#}
{#                <div class="col-sm-3">#}
{#                    <h5>Setup and Teardown</h5>#}
{#                </div>#}
{#                <div class="col-sm-9">#}
{#                    <p><strong>Setup Duration: </strong> {{ object.prep_duration|date:"l,  F,  o, f A" }}<br>#}
{#                        <strong>Teardown Duration: </strong> {{ object.tear_duration|date:"l,  F,  o, f A" }}</p>#}
{#                </div>#}
{#            </div>#}
{#            <hr>#}
{#            <div class="row">#}
{#                <div class="col-sm-3">#}
{#                    <h5>Additional Requirements</h5>#}
{#                </div>#}
{#                <div class="col-sm-9">#}
{#                    <p><strong>Additional Materials: </strong> {{ object.materials_req }}<br>#}
{#                        <strong>Other Locations: </strong> {{ object.other_locations }}<br>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>

{% endblock %}
