{% extends "frontend/base/navigation.html" %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/app_nav.css' %}">
{% block app_css %} {% endblock %}
{% endblock %}

{% block body_content %}
<div class="row-offcanvas row-offcanvas-left">
  <div id="sidebar" class="sidebar-offcanvas">
      <div class="col-md-12">
        <h3>Supply Logistics</h3>
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#">Link 1</a></li>
          <li class="dropdown">
	        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown<span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">Item</a></li>
	            <li><a href="#">Item</a></li>
	          </ul>
	        </li>
        </ul>

      </div>
  </div>
  <div id="main">
      <div class="col-md-12">
      	  <p class="visible">
            <button type="button" class="btn btn-primary" data-toggle="offcanvas"><i class="glyphicon glyphicon-menu-hamburger"></i></button>
          </p>
          <div class="container">
            {% block app_content %}
            {% endblock %}
          </div>
      </div>
  </div>
</div><!--/row-offcanvas -->
  


{% endblock %}

{% block page_scripts %}
  <script src="{% static 'js/app_nav_custom.js' %}"></script>
{% block application_scripts %} {% endblock %}
{% endblock %}