{% extends 'base.html' %}


{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
            <tr>
                <td><a href="{% url 'item:item_details_detail' item.item.id %}">{{ item.item }}</a></td>
                <td>{{ item.location }}</td>
                <td>{{ item.quantity }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No Movements Found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block actions %}
<a class="btn-floating btn-large green" href="{% url 'inventory:move' %}">
    <i class="large material-icons">add</i>
</a>
{% endblock %}