{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="container">
        <div class="page-header">
            <h3>Confirm Deletion of Location <b>{{ location.name }}</b><br></h3>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <form action="" method="post">{% csrf_token %}
                    <p>Are you sure you want to delete the inventory location <b>{{ location.name }}</b>?
                        All of the inventory items associated with this location will be deleted as well. This action cannot be undone.
                    </p>
                    <input type="submit" value="Confirm"/>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
