{% extends 'base.html' %}
{% load merchandise_tags %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <p><b>Address</b></p>
            </div>
            <div class="col-md-6">
                <p>{{ object.address }}</p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                <p><b>Active</b></p>
            </div>
            <div class="col-md-6">
                <p>{{ object.is_active|check_mark }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block actions %}
<a class="btn-floating btn-large red" href="{% url 'location:location_update' object.id %}">
    <i class="large material-icons">create</i>
</a>
{% endblock %}