{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load merchandise_tags %}

{% block content %}
<div class="row">
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Is Active?</th>
                </tr>
            </thead>
            <tbody>
            {% for location in object_list %}
                <tr>
                    <td><a href="{% url 'location:location_detail' location.id %}">{{ location.name }}</a></td>
                    <td>{{ location.address }}</td>
                    <td>{{ location.is_active|check_mark }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No Locations Found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block actions %}
<a class="btn-floating btn-large green" href="{% url 'location:location_create' %}">
    <i class="large material-icons">add</i>
</a>
{% endblock %}