{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>E-Mail</th>
                </tr>
            </thead>
            <tbody>
            {% for customer in object_list %}
                <tr>
                    <td><a href="{% url 'directory:customer_detail' customer.id %}">{{ customer }}</a></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="1">No Customers Found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}